BelcorpUSA/framework/Data/FinanceOps/Integrations Tests/Service References/OrderSVC/OrderFulfillment1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://orderfulfillment.michetesting.com" elementFormDefault="qualified" targetNamespace="http://orderfulfillment.michetesting.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOrdersToFulfill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersToFulfillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrdersToFulfillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderFulfillmentAcknowledgment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderFulfillmentAcknowledgmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOrderFulfillmentAcknowledgmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderShippingInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderShippingInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOrderShippingInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>