BelcorpUSA/framework/Data/FinanceOps/Integrations Tests/Service References/OrderSVC/OrderFulfillment2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:EncoreOrderFulfillmentService" elementFormDefault="qualified" targetNamespace="urn:EncoreOrderFulfillmentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:FaultDetail" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OuterFault" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDetail" nillable="true" type="tns:FaultDetail" />
</xs:schema>