BelcorpUSA/framework/Data/FinanceOps/Integrations/Services/OrderFulfillment/Service/Library/XMLs/OrderUpdateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="OrderCollection">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="Order"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Order">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="1">
        <xsd:element name="OrderNumber" type="xsd:string" minOccurs="1" maxOccurs="1" />
        <xsd:element name="UpdateSucceeded" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
        <xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>