BelcorpUSA/framework/Libraries/Netsteps.Data.Entities/Service References/STOWebServices/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cch.com/2.0/STOServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cch.com/2.0/STOServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cch.com/2.0/STOServices">
      <s:element name="CalculateRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="NexusInfo" type="tns:NexusInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="SitusInfo" type="tns:SitusInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTransaction" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfLineItem" />
          <s:element minOccurs="1" maxOccurs="1" name="finalize" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NexusInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderApprovalAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderPlacementAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipFromAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderApprovalGeoBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderPlacementGeoBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipFromGeoBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToGeoBlock" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateOrProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SitusInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CanRejectDelivery" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FOB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SolicitedOutside" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipFromPOB" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgUnitPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ExemptionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NexusInfo" type="tns:NexusInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="SitusInfo" type="tns:SitusInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductInfo" type="tns:ProductInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductItem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemTaxes" type="tns:ArrayOfLineItemTax" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalTaxApplied" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Severity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Source" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineItemTax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItemTax" type="tns:LineItemTax" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItemTax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateOrProvince" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalTaxApplied" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxDetails" type="tns:ArrayOfTaxDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaxDetail" nillable="true" type="tns:TaxDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthorityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorityType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxApplied" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FeeApplied" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxableQuantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxableAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ExemptQty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ExemptAmt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRate" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeoblockRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeoblockRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeoblockRequestResult" type="tns:GeoblockInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeoblockInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AddressVerificationResult" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Geoblock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="GeoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrectedAddress" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:element name="UnattributedReturnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnattributedReturnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnattributedReturnRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributedFullReturnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OriginalTransactionID" type="s:unsignedLong" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttributedFullReturnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttributedFullReturnRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PartialReturnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:PartialReturnOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PartialReturnOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OriginalTransactionID" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfPartialLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPartialLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:PartialLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartialLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgUnitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="PartialReturnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartialReturnRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataValuesRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataValuesResult" type="tns:DataValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataValues">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="transactionStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataDetails" type="tns:ArrayOfDataDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDataDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataDetail" nillable="true" type="tns:DataDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSKU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SKUData" type="tns:ArrayOfSKUDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSKUDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SKUDetail" nillable="true" type="tns:SKUDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SKUDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:ProductInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSKUResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SystemDateTimeRequest">
        <s:complexType />
      </s:element>
      <s:element name="SystemDateTimeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SystemDateTimeRequestResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OriginalTransactionID" type="s:unsignedLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelRequestResult" type="tns:TransactionDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="transactionStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="messagesField" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:element name="FinalizeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OriginalTransactionID" type="s:unsignedLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinalizeRequestResult" type="tns:TransactionDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeoblockRequestAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeoblockRequestAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeoblockRequestAllResult" type="tns:ArrayOfGeoblockInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGeoblockInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeoblockInfo" nillable="true" type="tns:GeoblockInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="TaxAdjustmentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxAdjustmentOrder" type="tns:TaxAdjustmentOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxAdjustmentOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToGeoBlock" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTransaction" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItem" type="tns:TaxAdjustmentLineItem" />
          <s:element minOccurs="1" maxOccurs="1" name="finalize" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxOnlyCredit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxAdjustmentLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductInfo" type="tns:ProductInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="TaxAdjustmentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaxAdjustmentRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateProcurementRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcurementOrder" type="tns:ProcurementOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProcurementOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceSystem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTransaction" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcurementLineItems" type="tns:ArrayOfProcurementLineItem" />
          <s:element minOccurs="1" maxOccurs="1" name="finalize" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProcurementLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProcurementLineItem" nillable="true" type="tns:ProcurementLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProcurementLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgUnitPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ExemptionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataStringID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateProcurementRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateProcurementRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnattributedProcurementReturnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DivisionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcurementOrder" type="tns:ProcurementOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnattributedProcurementReturnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnattributedProcurementReturnRequestResult" type="tns:TaxResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRequest" />
  </wsdl:message>
  <wsdl:message name="CalculateRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GeoblockRequestSoapIn">
    <wsdl:part name="parameters" element="tns:GeoblockRequest" />
  </wsdl:message>
  <wsdl:message name="GeoblockRequestSoapOut">
    <wsdl:part name="parameters" element="tns:GeoblockRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UnattributedReturnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UnattributedReturnRequest" />
  </wsdl:message>
  <wsdl:message name="UnattributedReturnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UnattributedReturnRequestResponse" />
  </wsdl:message>
  <wsdl:message name="AttributedFullReturnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AttributedFullReturnRequest" />
  </wsdl:message>
  <wsdl:message name="AttributedFullReturnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AttributedFullReturnRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PartialReturnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:PartialReturnRequest" />
  </wsdl:message>
  <wsdl:message name="PartialReturnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:PartialReturnRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataValuesSoapIn">
    <wsdl:part name="parameters" element="tns:DataValuesRequest" />
  </wsdl:message>
  <wsdl:message name="GetDataValuesSoapOut">
    <wsdl:part name="parameters" element="tns:DataValuesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSKUSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSKU" />
  </wsdl:message>
  <wsdl:message name="CreateSKUSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSKUResponse" />
  </wsdl:message>
  <wsdl:message name="SystemDateTimeRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SystemDateTimeRequest" />
  </wsdl:message>
  <wsdl:message name="SystemDateTimeRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SystemDateTimeRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelRequest" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="FinalizeRequestSoapIn">
    <wsdl:part name="parameters" element="tns:FinalizeRequest" />
  </wsdl:message>
  <wsdl:message name="FinalizeRequestSoapOut">
    <wsdl:part name="parameters" element="tns:FinalizeRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GeoblockRequestAllSoapIn">
    <wsdl:part name="parameters" element="tns:GeoblockRequestAll" />
  </wsdl:message>
  <wsdl:message name="GeoblockRequestAllSoapOut">
    <wsdl:part name="parameters" element="tns:GeoblockRequestAllResponse" />
  </wsdl:message>
  <wsdl:message name="TaxAdjustmentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:TaxAdjustmentRequest" />
  </wsdl:message>
  <wsdl:message name="TaxAdjustmentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:TaxAdjustmentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateProcurementRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateProcurementRequest" />
  </wsdl:message>
  <wsdl:message name="CalculateProcurementRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateProcurementRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UnattributedProcurementReturnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UnattributedProcurementReturnRequest" />
  </wsdl:message>
  <wsdl:message name="UnattributedProcurementReturnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UnattributedProcurementReturnRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="STOServiceBinding">
    <wsdl:operation name="CalculateRequest">
      <wsdl:input message="tns:CalculateRequestSoapIn" />
      <wsdl:output message="tns:CalculateRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequest">
      <wsdl:input message="tns:GeoblockRequestSoapIn" />
      <wsdl:output message="tns:GeoblockRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnattributedReturnRequest">
      <wsdl:input message="tns:UnattributedReturnRequestSoapIn" />
      <wsdl:output message="tns:UnattributedReturnRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttributedFullReturnRequest">
      <wsdl:input message="tns:AttributedFullReturnRequestSoapIn" />
      <wsdl:output message="tns:AttributedFullReturnRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PartialReturnRequest">
      <wsdl:input message="tns:PartialReturnRequestSoapIn" />
      <wsdl:output message="tns:PartialReturnRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <wsdl:input message="tns:GetDataValuesSoapIn" />
      <wsdl:output message="tns:GetDataValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSKU">
      <wsdl:input message="tns:CreateSKUSoapIn" />
      <wsdl:output message="tns:CreateSKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SystemDateTimeRequest">
      <wsdl:input message="tns:SystemDateTimeRequestSoapIn" />
      <wsdl:output message="tns:SystemDateTimeRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <wsdl:input message="tns:CancelRequestSoapIn" />
      <wsdl:output message="tns:CancelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizeRequest">
      <wsdl:input message="tns:FinalizeRequestSoapIn" />
      <wsdl:output message="tns:FinalizeRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequestAll">
      <wsdl:input message="tns:GeoblockRequestAllSoapIn" />
      <wsdl:output message="tns:GeoblockRequestAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TaxAdjustmentRequest">
      <wsdl:input message="tns:TaxAdjustmentRequestSoapIn" />
      <wsdl:output message="tns:TaxAdjustmentRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateProcurementRequest">
      <wsdl:input message="tns:CalculateProcurementRequestSoapIn" />
      <wsdl:output message="tns:CalculateProcurementRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnattributedProcurementReturnRequest">
      <wsdl:input message="tns:UnattributedProcurementReturnRequestSoapIn" />
      <wsdl:output message="tns:UnattributedProcurementReturnRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="STOServiceBinding" type="tns:STOServiceBinding">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/CalculateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/GeoblockRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnattributedReturnRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/UnattributedReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributedFullReturnRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/AttributedFullReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartialReturnRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/PartialReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/GetDataValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSKU">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/CreateSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemDateTimeRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/SystemDateTimeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/FinalizeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequestAll">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/GeoblockRequestAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaxAdjustmentRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/TaxAdjustmentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateProcurementRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/CalculateProcurementRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnattributedProcurementReturnRequest">
      <soap:operation soapAction="http://www.cch.com/2.0/STOServices/UnattributedProcurementReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="STOServiceBinding1" type="tns:STOServiceBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/CalculateRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/GeoblockRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnattributedReturnRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/UnattributedReturnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttributedFullReturnRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/AttributedFullReturnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartialReturnRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/PartialReturnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/GetDataValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSKU">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/CreateSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemDateTimeRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/SystemDateTimeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/CancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/FinalizeRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeoblockRequestAll">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/GeoblockRequestAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaxAdjustmentRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/TaxAdjustmentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateProcurementRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/CalculateProcurementRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnattributedProcurementReturnRequest">
      <soap12:operation soapAction="http://www.cch.com/2.0/STOServices/UnattributedProcurementReturnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="STOWebServices">
    <wsdl:port name="STOServiceBinding" binding="tns:STOServiceBinding">
      <soap:address location="http://50.57.20.66/STOWebServices/Service2.0.asmx" />
    </wsdl:port>
    <wsdl:port name="STOServiceBinding1" binding="tns:STOServiceBinding1">
      <soap12:address location="http://50.57.20.66/STOWebServices/Service2.0.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>